nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href="/") PUG
  ul.navbar-nav.mr-auto
    li.nav-item
      a.nav-link(href="/about") About
    li.nav-item
      a.nav-link(href="/") Contact
    li.nav-item
      a.nav-link(href="/products") Products