doctype html
html(lang='en')
    include ../partials/head.pug
    head
        title Prueba con PugJS
    body
        include ../partials/header.pug
        h1 Topicos Especializados Web
        div.remark
            p Si sirve
    include ../partials/footer.pug
